@import "variables.scss";

.hero {
  background: linear-gradient(178.7deg, #e4ecff 1.11%, rgba(234, 240, 255, 0) 120%);
  .hero__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $bp-large) {
      display: flex;
      flex-wrap: wrap-reverse;
      text-align: center;
    }
    .hero__content {
      max-width: 450px;

      .hero__title {
        margin-top: 15px;
      }
      .hero__desc {
        margin-top: 15px;
      }
      .hero__buttons {
        display: flex;
        margin-top: 40px;

        @media screen and (max-width: $bp-large) {
          display: grid;
          justify-content: center;
        }

        button[alt="video"] {
          background: none;
          color: $secondary-color;
          i {
            margin: 5px;
          }
          @media screen and (max-width: $bp-large) {
            margin-top: 5%;
          }
        }
      }
    }
  }
  .hero__img {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

.brands {
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;

  margin: 6% auto;

  .brands__logo {
    width: 110px;
    display: flex;
    margin: 0 auto;
  }
}

.solution {
  &__text {
    max-width: 50%;
    text-align: center;
    margin: 5% auto;

    .solution__desc {
      margin-top: 32px;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    position: relative;

    @media screen and (max-width: $bp-large) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }

    .solution__dots-img--up {
      position: absolute;
      width: 100px;
      top: -60px;
      left: -40px;
    }

    .solution__item {
      background-color: $white;
      padding: 40px;
      z-index: 2;
      position: relative;

      .solution__dots-img--bottom {
        position: absolute;
        width: 100px;
        top: 250px;
        right: 0;

        @media screen and (max-width: $bp-large) {
          top: 180px;
        }
      }
      &.solution__item--shadow {
        box-shadow: 0px 20px 47px rgba(0, 0, 0, 0.05);
      }
      .solution_icon {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;

        &[alt="red"] {
          background-color: #fff0e9;
        }
        &[alt="blue"] {
          background-color: #e9edff;
        }
        &[alt="yellow"] {
          background-color: #fff6dd;
        }

        @media screen and (max-width: $bp-medium) {
          width: 70px;
          height: 70px;
          img {
            width: 30%;
          }
        }
      }

      h3 {
        margin-top: 24px;
      }
      p {
        margin-top: 12px;
      }
      a {
        display: block;
        margin-top: 24px;
      }
    }
  }
}

#panel {
  background: linear-gradient(359.64deg, #f0f4ff 0.29%, rgba(242, 245, 255, 0) 103.06%);
  .panel {
    .panel__text {
      max-width: $bp-medium;
      margin: 0 auto;
      text-align: center;

      .panel__subtitle {
        background-color: $primary-color-light;
        margin: 0 auto;
      }

      .panel__title {
        margin-top: 12px;
      }

      .panel__desc {
        margin-top: 32px;
      }
    }

    img {
      width: 100%;
      margin-top: 40px;
    }
  }
}

#reviews {
  .reviews {
    &__text {
      position: relative;
      .reviews__title {
        max-width: 500px;
        font-size: 48px;
        font-weight: 500;
        position: relative;
        @media screen and (max-width: $bp-medium) {
          font-size: 32px;
        }
      }

      .reviews__circle {
        position: absolute;
        top: -60px;
        left: -50px;
        z-index: 0;
        @media screen and (max-width: $bp-medium) {
          width: 80px;
          top: -50px;
          left: -30px;
        }
      }
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      margin-top: 60px;

      @media screen and (max-width: $bp-large) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        margin-top: 0px;
      }

      .reviews__item {
        width: 80%;

        @media screen and (max-width: $bp-large) {
          margin-top: 80px;
        }
      }
      .reviews__text {
        .reviews__subtitle {
          font-weight: 500;
          font-size: 24px;
        }
        .reviews__desc {
          font-weight: 400;
          font-size: 15px;
          margin-top: 18px;
        }
        @media screen and (max-width: $bp-medium) {
          .reviews__subtitle {
            font-size: 18px;
          }
          .reviews__desc {
            font-size: 13px;
          }
        }
      }
      .reviews__card {
        color: #090f4e;
        display: flex;
        margin-top: 40px;

        .reviews__icon {
          width: 56px;
          height: 56px;
        }

        .reviews__info {
          margin-left: 20px;

          .reviews__name {
            font-weight: 600;
            font-size: 16px;
            color: #090f4e;
            padding: 4px;
          }
          .reviews__work {
            font-weight: 400;
            font-size: 14px;
            color: #090f4e;
            padding: 4px;
          }
        }
      }
    }
  }
}

#plans {
  background: linear-gradient(359.64deg, rgba(240, 244, 255, 0.34) 1.76%, rgba(242, 245, 255, 0) 103.06%);

  .plans {
    &__text {
      max-width: $bp-medium;
      text-align: center;
      margin: 0 auto;

      .plans__desc {
        margin-top: 32px;
      }

      .plans__select {
        display: flex;
        justify-content: center;
        margin-top: 32px;

        .plans__switch {
          position: relative;
          display: inline-block;
          width: 40px;
          height: 20px;

          input {
            display: none;
          }

          .plans__slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            border-radius: 34px;
            transition: background-color 0.2s;

            &:before {
              position: absolute;
              content: "";
              height: 14px;
              width: 14px;
              left: 3px;
              bottom: 3px;
              background-color: white;
              border-radius: 50%;
              transition: transform 0.2s;
            }
          }

          input:checked + .plans__slider {
            background-color: #2dca8c;

            &:before {
              transform: translateX(20px);
            }
          }
        }
        .plans__time {
          font-size: 18px;
          font-weight: 500;
          color: #63657e;
          margin: 0 16px;
          @media screen and (max-width: $bp-small) {
            font-size: 14px;
          }
        }
      }
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 30px;
      margin-top: 80px;

      @media screen and (max-width: $bp-xlarge) {
        grid-column-gap: 2.7%;
      }
      @media screen and (max-width: $bp-large) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
      }

      .plans__card {
        padding: 10%;
        background: $white;
        border: 2px solid #f5f6fa;
        border-radius: 15px;
        box-shadow: 0px 20px 47px rgba(0, 0, 0, 0.05);

        @media screen and (max-width: $bp-large) {
          margin: 5% auto;
        }
      }
      .plans__subtitle {
        margin-top: 18px;
      }
      .plans__subdesc {
        margin-top: 18px;
      }
      .plans__price {
        font-weight: 500;
        font-size: 16px;
        margin-top: 25px;
        color: #63657e;

        span {
          font-weight: 600;
          font-size: 42px;
          color: #090f4e;
          @media screen and (max-width: $bp-small) {
            font-size: 36px;
          }
        }
      }
      .plans__ul {
        margin-top: 70px;
        .plans__item {
          margin-top: 16px;
          img {
            display: inline-block;
            vertical-align: middle;
          }
          p {
            display: inline-block;
            vertical-align: middle;
            font-weight: 400;
            font-size: 14px;

            @media screen and (max-width: $bp-small) {
              font-size: 13px;
            }
          }
        }
      }
      .plans__link {
        width: 100%;
        color: $primary-color;
        margin-top: 42px;
        background: #e5f1ff;
        border-radius: 10px;
        &--active {
          background: $primary-color;
          color: $white;
        }
      }
    }
  }
}

#letter {
  @media screen and (max-width: $bp-medium) {
    background-color: $primary-color-light;
  }
  .letter {
    background-color: $primary-color-light;
    padding: 40px 0 120px 0;
    border-radius: 30px;

    @media screen and (max-width: $bp-medium) {
      padding: 40px 0 100px 0;
    }

    &__container {
      max-width: 400px;
      margin: auto;

      .letter__title {
        text-align: center;
      }

      .letter__desc {
        margin-top: 14px;
        text-align: center;
      }
      .letter__message {
        margin-top: 30px;
        position: relative;
        input {
          width: 100%;
          padding: 20px 0px 20px 35px;
          background: #fff;
          border-radius: 50px;
          position: absolute;
          color: rgba(11, 7, 87, 0.2);
          border: 0;
        }
        button {
          width: 46px;
          height: 46px;
          border-radius: 50%;
          margin: auto;
          position: absolute;
          right: 12px;
          top: 7px;
        }
      }
    }
  }
}
