@import "variables.scss";

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $bp-large) {
    display: flex;
    flex-wrap: wrap-reverse;
    text-align: center;
  }

  &__content {
    max-width: 450px;

    .hero__subtitile {
      width: 190px;
      line-height: 28px;
      background-color: $white;
      color: $primary-color;
      border-radius: 10px;
      padding: 5px;
      text-align: center;

      @media screen and (max-width: $bp-large) {
        margin: 0 auto;
      }
    }
    .hero__title {
      margin-top: 15px;
    }
    .hero__desc {
      margin-top: 15px;
    }
    .hero__buttons {
      display: flex;
      margin-top: 40px;

      @media screen and (max-width: $bp-large) {
        display: grid;
        justify-content: center;
      }

      button[alt="video"] {
        background: none;
        color: $secondary-color;
        i {
          margin: 5px;
        }
        @media screen and (max-width: $bp-large) {
          margin-top: 5%;
        }
      }
    }
  }
  &__img {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
