@import "variables.scss";

.hero {
  background: linear-gradient(178.7deg, #e4ecff 1.11%, rgba(234, 240, 255, 0) 120%);
  .hero__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $bp-large) {
      display: flex;
      flex-wrap: wrap-reverse;
      text-align: center;
    }
    .hero__content {
      max-width: 450px;

      .hero__title {
        margin-top: 15px;
      }
      .hero__desc {
        margin-top: 15px;
      }
      .hero__buttons {
        display: flex;
        margin-top: 40px;

        @media screen and (max-width: $bp-large) {
          display: grid;
          justify-content: center;
        }

        button[alt="video"] {
          background: none;
          color: $secondary-color;
          i {
            margin: 5px;
          }
          @media screen and (max-width: $bp-large) {
            margin-top: 5%;
          }
        }
      }
    }
  }
  .hero__img {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

.brands {
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;

  margin: 6% auto;

  .brands__logo {
    width: 110px;
    display: flex;
    margin: 0 auto;
  }
}

.solution {
  &__text {
    max-width: 50%;
    text-align: center;
    margin: 5% auto;

    .solution__desc {
      margin-top: 32px;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    position: relative;

    @media screen and (max-width: $bp-large) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }

    .solution__dots-img--up {
      position: absolute;
      width: 100px;
      top: -60px;
      left: -40px;
    }

    .solution__item {
      background-color: $white;
      padding: 40px;
      z-index: 2;
      position: relative;

      .solution__dots-img--bottom {
        position: absolute;
        width: 100px;
        top: 250px;
        right: 0;

        @media screen and (max-width: $bp-large){
          top: 180px;
        }

           
      }
      &.solution__item--shadow {
        box-shadow: 0px 20px 47px rgba(0, 0, 0, 0.05);
      }
      .solution_icon {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;

        &[alt="red"] {
          background-color: #fff0e9;
        }
        &[alt="blue"] {
          background-color: #e9edff;
        }
        &[alt="yellow"] {
          background-color: #fff6dd;
        }

        @media screen and (max-width: $bp-medium) {
          width: 70px;
          height: 70px;
          img {
            width: 30%;
          }
        }
      }

      h3 {
        margin-top: 24px;
      }
      p {
        margin-top: 12px;
      }
      a {
        display: block;
        margin-top: 24px;
      }
    }
  }
}

#panel {
  background: linear-gradient(359.64deg, #f0f4ff 0.29%, rgba(242, 245, 255, 0) 103.06%);
  .panel {
    .panel__text {
      max-width: $bp-medium;
      margin: 0 auto;
      text-align: center;

      .panel__subtitle {
        background-color: $primary-color-light;
        margin: 0 auto;
      }

      .panel__title {
        margin-top: 12px;
      }

      .panel__desc {
        margin-top: 32px;
      }
    }

    img {
      width: 100%;
      margin-top: 40px;
    }
  }
}
