//?FONTS
$primary-font: "Poppins";
$secondary-font: "";
$default-font: sans-serif;

//?COLORS
//Main colors
$primary-color: #293FCC; 
$primary-color-light: #E5F1FF;
$secondary-color: #090F4E;
$white: #fff; 
$black: #000;

//UI colors
$success-color: #28a745; 
$danger-color: #FF8548; 
$info-color: #738CFD; 
$warning-color: #FFCB4B; 
$light-color: #f8f9fa; 
$dark-color: #343a40; 

//UI colors light
$success-color-light: #28a745; 
$danger-color-light: #FFF0E9; 
$info-color-light: #E5F1FF; 
$warning-color-light: #FFF6DD; 
$light-color-light: #f8f9fa; 
$dark-color-light: #343a40; 

//?COMPONENTS COLORS
$primary-text-color: $secondary-color; 
$secondary-text-color: #63657E; 

$border-color: #ced4da;

$background-color: $white; 
$link-color: $primary-text-color;
$link-color-active: $primary-color; 
$link-color-hover: $primary-color;
$background-color-button: $primary-color;

//?BREAK POINTS
$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-xlarge: 1200px;

//?INDENTS
$indents: 4px;

//Header
$height-header: 80px;








