.hero {
  background: linear-gradient(178.7deg, #e4ecff 1.11%, rgba(234, 240, 255, 0) 120%);
}
.hero .hero__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .hero .hero__container {
    display: flex;
    flex-wrap: wrap-reverse;
    text-align: center;
  }
}
.hero .hero__container .hero__content {
  max-width: 450px;
}
.hero .hero__container .hero__content .hero__title {
  margin-top: 15px;
}
.hero .hero__container .hero__content .hero__desc {
  margin-top: 15px;
}
.hero .hero__container .hero__content .hero__buttons {
  display: flex;
  margin-top: 40px;
}
@media screen and (max-width: 992px) {
  .hero .hero__container .hero__content .hero__buttons {
    display: grid;
    justify-content: center;
  }
}
.hero .hero__container .hero__content .hero__buttons button[alt=video] {
  background: none;
  color: #090F4E;
}
.hero .hero__container .hero__content .hero__buttons button[alt=video] i {
  margin: 5px;
}
@media screen and (max-width: 992px) {
  .hero .hero__container .hero__content .hero__buttons button[alt=video] {
    margin-top: 5%;
  }
}
.hero .hero__img {
  width: 100%;
}
.hero .hero__img img {
  width: 100%;
}

.brands {
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  margin: 6% auto;
}
.brands .brands__logo {
  width: 110px;
  display: flex;
  margin: 0 auto;
}

.solution__text {
  max-width: 50%;
  text-align: center;
  margin: 5% auto;
}
.solution__text .solution__desc {
  margin-top: 32px;
}
.solution__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  position: relative;
}
@media screen and (max-width: 992px) {
  .solution__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
.solution__list .solution__dots-img--up {
  position: absolute;
  width: 100px;
  top: -60px;
  left: -40px;
}
.solution__list .solution__item {
  background-color: #fff;
  padding: 40px;
  z-index: 2;
  position: relative;
}
.solution__list .solution__item .solution__dots-img--bottom {
  position: absolute;
  width: 100px;
  top: 250px;
  right: 0;
}
@media screen and (max-width: 992px) {
  .solution__list .solution__item .solution__dots-img--bottom {
    top: 180px;
  }
}
.solution__list .solution__item.solution__item--shadow {
  box-shadow: 0px 20px 47px rgba(0, 0, 0, 0.05);
}
.solution__list .solution__item .solution_icon {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.solution__list .solution__item .solution_icon[alt=red] {
  background-color: #fff0e9;
}
.solution__list .solution__item .solution_icon[alt=blue] {
  background-color: #e9edff;
}
.solution__list .solution__item .solution_icon[alt=yellow] {
  background-color: #fff6dd;
}
@media screen and (max-width: 768px) {
  .solution__list .solution__item .solution_icon {
    width: 70px;
    height: 70px;
  }
  .solution__list .solution__item .solution_icon img {
    width: 30%;
  }
}
.solution__list .solution__item h3 {
  margin-top: 24px;
}
.solution__list .solution__item p {
  margin-top: 12px;
}
.solution__list .solution__item a {
  display: block;
  margin-top: 24px;
}

#panel {
  background: linear-gradient(359.64deg, #f0f4ff 0.29%, rgba(242, 245, 255, 0) 103.06%);
}
#panel .panel .panel__text {
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
}
#panel .panel .panel__text .panel__subtitle {
  background-color: #E5F1FF;
  margin: 0 auto;
}
#panel .panel .panel__text .panel__title {
  margin-top: 12px;
}
#panel .panel .panel__text .panel__desc {
  margin-top: 32px;
}
#panel .panel img {
  width: 100%;
  margin-top: 40px;
}

#reviews .reviews__text {
  position: relative;
}
#reviews .reviews__text .reviews__title {
  max-width: 500px;
  font-size: 48px;
  font-weight: 500;
  position: relative;
}
@media screen and (max-width: 768px) {
  #reviews .reviews__text .reviews__title {
    font-size: 32px;
  }
}
#reviews .reviews__text .reviews__circle {
  position: absolute;
  top: -60px;
  left: -50px;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  #reviews .reviews__text .reviews__circle {
    width: 80px;
    top: -50px;
    left: -30px;
  }
}
#reviews .reviews__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin-top: 60px;
}
@media screen and (max-width: 992px) {
  #reviews .reviews__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 0px;
  }
}
#reviews .reviews__list .reviews__item {
  width: 80%;
}
@media screen and (max-width: 992px) {
  #reviews .reviews__list .reviews__item {
    margin-top: 80px;
  }
}
#reviews .reviews__list .reviews__text .reviews__subtitle {
  font-weight: 500;
  font-size: 24px;
}
#reviews .reviews__list .reviews__text .reviews__desc {
  font-weight: 400;
  font-size: 15px;
  margin-top: 18px;
}
@media screen and (max-width: 768px) {
  #reviews .reviews__list .reviews__text .reviews__subtitle {
    font-size: 18px;
  }
  #reviews .reviews__list .reviews__text .reviews__desc {
    font-size: 13px;
  }
}
#reviews .reviews__list .reviews__card {
  color: #090f4e;
  display: flex;
  margin-top: 40px;
}
#reviews .reviews__list .reviews__card .reviews__icon {
  width: 56px;
  height: 56px;
}
#reviews .reviews__list .reviews__card .reviews__info {
  margin-left: 20px;
}
#reviews .reviews__list .reviews__card .reviews__info .reviews__name {
  font-weight: 600;
  font-size: 16px;
  color: #090f4e;
  padding: 4px;
}
#reviews .reviews__list .reviews__card .reviews__info .reviews__work {
  font-weight: 400;
  font-size: 14px;
  color: #090f4e;
  padding: 4px;
}

#plans {
  background: linear-gradient(359.64deg, rgba(240, 244, 255, 0.34) 1.76%, rgba(242, 245, 255, 0) 103.06%);
}
#plans .plans__text {
  max-width: 768px;
  text-align: center;
  margin: 0 auto;
}
#plans .plans__text .plans__desc {
  margin-top: 32px;
}
#plans .plans__text .plans__select {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
#plans .plans__text .plans__select .plans__switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
#plans .plans__text .plans__select .plans__switch input {
  display: none;
}
#plans .plans__text .plans__select .plans__switch .plans__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.2s;
}
#plans .plans__text .plans__select .plans__switch .plans__slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s;
}
#plans .plans__text .plans__select .plans__switch input:checked + .plans__slider {
  background-color: #2dca8c;
}
#plans .plans__text .plans__select .plans__switch input:checked + .plans__slider:before {
  transform: translateX(20px);
}
#plans .plans__text .plans__select .plans__time {
  font-size: 18px;
  font-weight: 500;
  color: #63657e;
  margin: 0 16px;
}
#plans .plans__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  margin-top: 80px;
}
#plans .plans__list .plans__card {
  padding: 10%;
  background: #fff;
  border: 2px solid #f5f6fa;
  border-radius: 15px;
  box-shadow: 0px 20px 47px rgba(0, 0, 0, 0.05);
}
#plans .plans__list .plans__subtitle {
  margin-top: 18px;
}
#plans .plans__list .plans__price {
  font-weight: 500;
  font-size: 16px;
  margin-top: 25px;
  color: #63657e;
}
#plans .plans__list .plans__price span {
  font-weight: 600;
  font-size: 42px;
  color: #090f4e;
}
#plans .plans__list .plans__ul {
  margin-top: 70px;
}
#plans .plans__list .plans__ul .plans__item {
  margin-top: 16px;
}
#plans .plans__list .plans__ul .plans__item img {
  display: inline-block;
  vertical-align: middle;
}
#plans .plans__list .plans__ul .plans__item p {
  display: inline-block;
  vertical-align: middle;
}
#plans .plans__list .plans__link {
  width: 100%;
  color: #293FCC;
  margin-top: 42px;
  background: #e5f1ff;
  border-radius: 10px;
}
#plans .plans__list .plans__link--active {
  background: #293FCC;
  color: #fff;
}