.hero {
  background: linear-gradient(178.7deg, #e4ecff 1.11%, rgba(234, 240, 255, 0) 120%);
}
.hero .hero__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .hero .hero__container {
    display: flex;
    flex-wrap: wrap-reverse;
    text-align: center;
  }
}
.hero .hero__container .hero__content {
  max-width: 450px;
}
.hero .hero__container .hero__content .hero__title {
  margin-top: 15px;
}
.hero .hero__container .hero__content .hero__desc {
  margin-top: 15px;
}
.hero .hero__container .hero__content .hero__buttons {
  display: flex;
  margin-top: 40px;
}
@media screen and (max-width: 992px) {
  .hero .hero__container .hero__content .hero__buttons {
    display: grid;
    justify-content: center;
  }
}
.hero .hero__container .hero__content .hero__buttons button[alt=video] {
  background: none;
  color: #090F4E;
}
.hero .hero__container .hero__content .hero__buttons button[alt=video] i {
  margin: 5px;
}
@media screen and (max-width: 992px) {
  .hero .hero__container .hero__content .hero__buttons button[alt=video] {
    margin-top: 5%;
  }
}
.hero .hero__img {
  width: 100%;
}
.hero .hero__img img {
  width: 100%;
}

.brands {
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  margin: 6% auto;
}
.brands .brands__logo {
  width: 110px;
  display: flex;
  margin: 0 auto;
}

.solution__text {
  max-width: 50%;
  text-align: center;
  margin: 5% auto;
}
.solution__text .solution__desc {
  margin-top: 32px;
}
.solution__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  position: relative;
}
@media screen and (max-width: 992px) {
  .solution__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
.solution__list .solution__dots-img--up {
  position: absolute;
  width: 100px;
  top: -60px;
  left: -40px;
}
.solution__list .solution__item {
  background-color: #fff;
  padding: 40px;
  z-index: 2;
  position: relative;
}
.solution__list .solution__item .solution__dots-img--bottom {
  position: absolute;
  width: 100px;
  top: 250px;
  right: 0;
}
@media screen and (max-width: 992px) {
  .solution__list .solution__item .solution__dots-img--bottom {
    top: 180px;
  }
}
.solution__list .solution__item.solution__item--shadow {
  box-shadow: 0px 20px 47px rgba(0, 0, 0, 0.05);
}
.solution__list .solution__item .solution_icon {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.solution__list .solution__item .solution_icon[alt=red] {
  background-color: #fff0e9;
}
.solution__list .solution__item .solution_icon[alt=blue] {
  background-color: #e9edff;
}
.solution__list .solution__item .solution_icon[alt=yellow] {
  background-color: #fff6dd;
}
@media screen and (max-width: 768px) {
  .solution__list .solution__item .solution_icon {
    width: 70px;
    height: 70px;
  }
  .solution__list .solution__item .solution_icon img {
    width: 30%;
  }
}
.solution__list .solution__item h3 {
  margin-top: 24px;
}
.solution__list .solution__item p {
  margin-top: 12px;
}
.solution__list .solution__item a {
  display: block;
  margin-top: 24px;
}

#panel {
  background: linear-gradient(359.64deg, #f0f4ff 0.29%, rgba(242, 245, 255, 0) 103.06%);
}
#panel .panel .panel__text {
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
}
#panel .panel .panel__text .panel__subtitle {
  background-color: #E5F1FF;
  margin: 0 auto;
}
#panel .panel .panel__text .panel__title {
  margin-top: 12px;
}
#panel .panel .panel__text .panel__desc {
  margin-top: 32px;
}
#panel .panel img {
  width: 100%;
  margin-top: 40px;
}