* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

main {
  padding-top: 80px;
}

body,
html,
#wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 16px;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.container {
  width: 1110px;
  max-width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 3.575rem;
  color: #090F4E;
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 2.475rem;
    line-height: 3.3rem;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.2rem;
    line-height: 3.025rem;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.925rem;
    line-height: 2.75rem;
  }
}

h2 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.4375rem;
  color: #090F4E;
}
@media screen and (max-width: 992px) {
  h2 {
    font-size: 1.6875rem;
    line-height: 2.25rem;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2.0625rem;
  }
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 1.3125rem;
    line-height: 1.875rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.95rem;
  color: #090F4E;
}
@media screen and (max-width: 992px) {
  h3 {
    font-size: 1.35rem;
    line-height: 1.8rem;
  }
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.2rem;
    line-height: 1.65rem;
  }
}
@media screen and (max-width: 480px) {
  h3 {
    font-size: 1.05rem;
    line-height: 1.5rem;
  }
}

h4 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.1375rem;
  color: #090F4E;
}
@media screen and (max-width: 992px) {
  h4 {
    font-size: 0.7875rem;
    line-height: 1.05rem;
  }
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 0.7rem;
    line-height: 0.9625rem;
  }
}
@media screen and (max-width: 480px) {
  h4 {
    font-size: 0.6125rem;
    line-height: 0.875rem;
  }
}

h5 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.1375rem;
  color: #63657E;
}
@media screen and (max-width: 992px) {
  h5 {
    font-size: 0.7875rem;
    line-height: 1.05rem;
  }
}
@media screen and (max-width: 768px) {
  h5 {
    font-size: 0.7rem;
    line-height: 0.9625rem;
  }
}
@media screen and (max-width: 480px) {
  h5 {
    font-size: 0.6125rem;
    line-height: 0.875rem;
  }
}

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3rem;
  color: #63657E;
}
@media screen and (max-width: 992px) {
  p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  p {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }
}
@media screen and (max-width: 480px) {
  p {
    font-size: 0.7rem;
    line-height: 1rem;
  }
}

a {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.4625rem;
  color: #63657E;
}
@media screen and (max-width: 992px) {
  a {
    font-size: 1.0125rem;
    line-height: 1.35rem;
  }
}
@media screen and (max-width: 768px) {
  a {
    font-size: 0.9rem;
    line-height: 1.2375rem;
  }
}
@media screen and (max-width: 480px) {
  a {
    font-size: 0.7875rem;
    line-height: 1.125rem;
  }
}

button {
  width: 165px;
  height: 50px;
  background-color: #293FCC;
  border-radius: 6px;
  border: none;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.4625rem;
  color: #fff;
}
@media screen and (max-width: 992px) {
  button {
    font-size: 1.0125rem;
    line-height: 1.35rem;
  }
}
@media screen and (max-width: 768px) {
  button {
    font-size: 0.9rem;
    line-height: 1.2375rem;
  }
}
@media screen and (max-width: 480px) {
  button {
    font-size: 0.7875rem;
    line-height: 1.125rem;
  }
}
button:hover {
  background-color: #4d60db;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
p span,
a span {
  color: #FFCB4B;
}

#header {
  width: 100%;
  height: 80px;
  background-color: #E5F1FF;
  opacity: 0.95;
  display: flex;
  position: fixed;
  z-index: 10;
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #090F4E;
}
#header .header__logo a img {
  z-index: 10;
}
#header .header__navbar {
  width: 100%;
  margin-left: 25%;
  display: flex;
  align-items: center;
}
#header .header__navbar.open {
  display: flex;
  margin: 0;
}
#header .header__navbar .header__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#header .header__navbar .header__item .header__link {
  color: #090F4E;
}
#header .header__navbar .header__item .header__link:hover {
  color: #293FCC;
}
#header .header__navbar .header__button {
  margin-left: 5%;
}
@media screen and (max-width: 992px) {
  #header .header__navbar .header__button {
    margin: 0;
  }
}
#header .header__burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}
#header .header__burger.active span {
  transform: scale(0);
  background-color: #fff;
}
#header .header__burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
  background-color: #fff;
}
#header .header__burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
  background-color: #fff;
}
#header .header__burger::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #090F4E;
  transition: all 0.3s ease 0s;
  top: 0;
}
#header .header__burger::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #090F4E;
  transition: all 0.3s ease 0s;
  bottom: 0;
}
#header .header__burger span {
  height: 3px;
  width: 100%;
  transform: scale(1);
  background-color: #090F4E;
}
@media (max-width: 992px) {
  #header .header__burger {
    display: flex;
  }
  #header .header__navbar {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: #343a40;
    animation: burgerAnimation 0.4s;
  }
  #header .header__navbar .header__menu {
    flex-direction: column;
    row-gap: 30px;
    height: 50%;
    align-items: center;
    margin: auto;
  }
  #header .header__navbar .header__menu .header__item .header__link {
    color: #fff;
  }
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hero {
  background: linear-gradient(178.7deg, #e4ecff 1.11%, rgba(234, 240, 255, 0) 120%);
}
.hero .hero__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .hero .hero__container {
    display: flex;
    flex-wrap: wrap-reverse;
    text-align: center;
  }
}
.hero .hero__container .hero__content {
  max-width: 450px;
}
.hero .hero__container .hero__content .hero__subtitile {
  width: 190px;
  line-height: 28px;
  background-color: #fff;
  color: #293FCC;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .hero .hero__container .hero__content .hero__subtitile {
    margin: 0 auto;
  }
}
.hero .hero__container .hero__content .hero__title {
  margin-top: 15px;
}
.hero .hero__container .hero__content .hero__desc {
  margin-top: 15px;
}
.hero .hero__container .hero__content .hero__buttons {
  display: flex;
  margin-top: 40px;
}
@media screen and (max-width: 992px) {
  .hero .hero__container .hero__content .hero__buttons {
    display: grid;
    justify-content: center;
  }
}
.hero .hero__container .hero__content .hero__buttons button[alt=video] {
  background: none;
  color: #090F4E;
}
.hero .hero__container .hero__content .hero__buttons button[alt=video] i {
  margin: 5px;
}
@media screen and (max-width: 992px) {
  .hero .hero__container .hero__content .hero__buttons button[alt=video] {
    margin-top: 5%;
  }
}
.hero .hero__img {
  width: 100%;
}
.hero .hero__img img {
  width: 100%;
}

.brands {
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  margin: 6% auto;
}
.brands .brands__logo {
  width: 110px;
  display: flex;
  margin: 0 auto;
}