@import "../../variables.scss";

#header {
  width: 100%;
  height: $height-header;
  background-color: $color-header;
  color: $white;
  position: fixed;
  z-index: 3;

  .header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      img {
        width: 100%;
      }
    }
    &__navbar {
      width: 60%;
      z-index: 50;

      .header__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .header__item {
        .header__link {
          color: $secondary-color;
        }
        .header__button {
          margin-left: 5%;
        }
      }
    }
    &__burger {
      display: none;
    }
  }
}

@media screen and (max-width: $bp-large) {
  #header {
    .header {
      &__navbar {
        position: fixed;
        padding: 50px 40px;
        width: 100%;
        height: 0%;
        top: -100%;
        left: 0;
        right: 0;
        opacity: 0;
        overflow-y: auto;
        background-color: $primary-color-light;
        transition: all 0.5s;

        &.open {
          opacity: 1;
          top: 0;
          height: 100%;
        }

        .header__list {
          height: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: column;
          .header__button {
            margin: 0;
          }
        }
      }
      &__burger {
        width: 32px;
        height: 18px;
        display: flex;
        align-items: center;
        position: relative;
        transition: all 0.3s;
        z-index: 50;

        &.active {
          span {
            transform: scale(0);
          }
          &::after {
            bottom: 50%;
            transform: rotate(45deg) translate(0, 50%);
          }
          &::before {
            top: 50%;
            transform: rotate(-45deg) translate(0, -50%);
          }
        }
        &::after,
        &::before,
        span {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          background-color: $secondary-color;
          transition: all 0.3s ease 0s;
        }

        &::before {
          top: 0;
        }
        &::after {
          bottom: 0;
        }
      }
    }
  }
}
